/** Responsive **/
/* ? *\
    breakpoints are registered sizes you can use
    freely through the resp mixin or in a module's map.

    you can use the resp mixin with $breakpoints values or px values :
    @include resp(608px) // is the same than
    @include resp(s)
    you can combine values :
    @include resp(l 300px) // automatically convert and detect min and max values
                           // to min-width and max-width query
*/
.from-1 > * {
  width: calc(100% - 8px);
}

.from-2 > *, .custom-grid > * {
  width: calc(50% - 8px);
}

.from-3 > * {
  width: calc(33.33333% - 8px);
}

.from-4 > * {
  width: calc(25% - 8px);
}

.from-5 > * {
  width: calc(20% - 8px);
}

.from-6 > * {
  width: calc(16.66667% - 8px);
}

.from-7 > * {
  width: calc(14.28571% - 8px);
}

.from-8 > * {
  width: calc(12.5% - 8px);
}

.from-9 > * {
  width: calc(11.11111% - 8px);
}

.from-10 > * {
  width: calc(10% - 8px);
}

@media screen and (min-width: 481px) {
  .xxs-1 > * {
    width: calc(100% - 8px);
  }
  .xxs-2 > * {
    width: calc(50% - 8px);
  }
  .xxs-3 > * {
    width: calc(33.33333% - 8px);
  }
  .xxs-4 > * {
    width: calc(25% - 8px);
  }
  .xxs-5 > * {
    width: calc(20% - 8px);
  }
  .xxs-6 > * {
    width: calc(16.66667% - 8px);
  }
  .xxs-7 > * {
    width: calc(14.28571% - 8px);
  }
  .xxs-8 > * {
    width: calc(12.5% - 8px);
  }
  .xxs-9 > * {
    width: calc(11.11111% - 8px);
  }
  .xxs-10 > * {
    width: calc(10% - 8px);
  }
}

@media screen and (min-width: 621px) {
  .s-1 > * {
    width: calc(100% - 8px);
  }
  .s-2 > * {
    width: calc(50% - 8px);
  }
  .s-3 > * {
    width: calc(33.33333% - 8px);
  }
  .s-4 > * {
    width: calc(25% - 8px);
  }
  .s-5 > *, .custom-grid > * {
    width: calc(20% - 8px);
  }
  .s-6 > * {
    width: calc(16.66667% - 8px);
  }
  .s-7 > * {
    width: calc(14.28571% - 8px);
  }
  .s-8 > * {
    width: calc(12.5% - 8px);
  }
  .s-9 > * {
    width: calc(11.11111% - 8px);
  }
  .s-10 > * {
    width: calc(10% - 8px);
  }
}

@media screen and (min-width: 769px) {
  .m-1 > * {
    width: calc(100% - 8px);
  }
  .m-2 > * {
    width: calc(50% - 8px);
  }
  .m-3 > * {
    width: calc(33.33333% - 8px);
  }
  .m-4 > * {
    width: calc(25% - 8px);
  }
  .m-5 > * {
    width: calc(20% - 8px);
  }
  .m-6 > * {
    width: calc(16.66667% - 8px);
  }
  .m-7 > * {
    width: calc(14.28571% - 8px);
  }
  .m-8 > * {
    width: calc(12.5% - 8px);
  }
  .m-9 > * {
    width: calc(11.11111% - 8px);
  }
  .m-10 > * {
    width: calc(10% - 8px);
  }
}

@media screen and (min-width: 821px) {
  .xm-1 > * {
    width: calc(100% - 8px);
  }
  .xm-2 > * {
    width: calc(50% - 8px);
  }
  .xm-3 > * {
    width: calc(33.33333% - 8px);
  }
  .xm-4 > * {
    width: calc(25% - 8px);
  }
  .xm-5 > * {
    width: calc(20% - 8px);
  }
  .xm-6 > * {
    width: calc(16.66667% - 8px);
  }
  .xm-7 > * {
    width: calc(14.28571% - 8px);
  }
  .xm-8 > * {
    width: calc(12.5% - 8px);
  }
  .xm-9 > * {
    width: calc(11.11111% - 8px);
  }
  .xm-10 > * {
    width: calc(10% - 8px);
  }
}

@media screen and (min-width: 1201px) {
  .l-1 > * {
    width: calc(100% - 8px);
  }
  .l-2 > * {
    width: calc(50% - 8px);
  }
  .l-3 > * {
    width: calc(33.33333% - 8px);
  }
  .l-4 > * {
    width: calc(25% - 8px);
  }
  .l-5 > * {
    width: calc(20% - 8px);
  }
  .l-6 > * {
    width: calc(16.66667% - 8px);
  }
  .l-7 > * {
    width: calc(14.28571% - 8px);
  }
  .l-8 > * {
    width: calc(12.5% - 8px);
  }
  .l-9 > * {
    width: calc(11.11111% - 8px);
  }
  .l-10 > *, .custom-grid > * {
    width: calc(10% - 8px);
  }
}

@media screen and (min-width: 1401px) {
  .xl-1 > * {
    width: calc(100% - 8px);
  }
  .xl-2 > * {
    width: calc(50% - 8px);
  }
  .xl-3 > * {
    width: calc(33.33333% - 8px);
  }
  .xl-4 > * {
    width: calc(25% - 8px);
  }
  .xl-5 > * {
    width: calc(20% - 8px);
  }
  .xl-6 > * {
    width: calc(16.66667% - 8px);
  }
  .xl-7 > * {
    width: calc(14.28571% - 8px);
  }
  .xl-8 > * {
    width: calc(12.5% - 8px);
  }
  .xl-9 > * {
    width: calc(11.11111% - 8px);
  }
  .xl-10 > * {
    width: calc(10% - 8px);
  }
}

.ui-grid, .custom-grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
}

.ui-grid-item, .custom-grid > * {
  flex: none;
  margin: 4px;
}

.ui-width--100 {
  width: 100%;
}

body {
  background: #303030;
  font-size: 12pt;
}

h1 {
  font-size: 1.6em;
}

img {
  display: block;
  width: 100%;
}

.container {
  position: relative;
  background: white;
  margin: 0 48px;
}

/* That is quite fancy :) */
.custom-grid > * {
  /*&:last-of-type{
      width:100%;
      margin-left:0;
      margin-right:0;
    }*/
}
