/**
* Allow to extend several classes in a single bunch
**/
/**
* Build a media query, mobile firstly.
* Requires at least one breakpoint value to work.
* You can use registered breakpoints (s) or absolute values (1300px).
* Highest breakpoint value will be considered as a max-width, while the other one will be min-width.
* ex. : @include resp(s) => @media screen and (max-width:620px)
* ex. : @include resp(m s) => @media screen and (max-width:768px) and (min-width:620px)
*/
.ui-grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: .5rem;
}

.ui-grid-item {
  position: relative;
  padding: .5rem;
  flex: none;
}

.ui-grid-item[class*="ui-width"] {
  flex: none;
}

.from-1:not(.ui-grid), .ui-grid.from-1 > * {
  width: 8.33333%;
}

.from-2:not(.ui-grid), .ui-grid.from-2 > * {
  width: 16.66667%;
}

.from-3:not(.ui-grid), .ui-grid.from-3 > * {
  width: 25%;
}

.from-4:not(.ui-grid), .ui-grid.from-4 > * {
  width: 33.33333%;
}

.from-5:not(.ui-grid), .ui-grid.from-5 > * {
  width: 41.66667%;
}

.from-6:not(.ui-grid), .ui-grid.from-6 > * {
  width: 50%;
}

.from-7:not(.ui-grid), .ui-grid.from-7 > * {
  width: 58.33333%;
}

.from-8:not(.ui-grid), .ui-grid.from-8 > * {
  width: 66.66667%;
}

.from-9:not(.ui-grid), .ui-grid.from-9 > * {
  width: 75%;
}

.from-10:not(.ui-grid), .ui-grid.from-10 > * {
  width: 83.33333%;
}

.from-11:not(.ui-grid), .ui-grid.from-11 > * {
  width: 91.66667%;
}

.from-12:not(.ui-grid), .ui-grid.from-12 > * {
  width: 100%;
}

@media screen and (min-width: 481px) {
  .xs-1:not(.ui-grid), .ui-grid.xs-1 > * {
    width: 8.33333%;
  }
  .xs-2:not(.ui-grid), .ui-grid.xs-2 > * {
    width: 16.66667%;
  }
  .xs-3:not(.ui-grid), .ui-grid.xs-3 > * {
    width: 25%;
  }
  .xs-4:not(.ui-grid), .ui-grid.xs-4 > * {
    width: 33.33333%;
  }
  .xs-5:not(.ui-grid), .ui-grid.xs-5 > * {
    width: 41.66667%;
  }
  .xs-6:not(.ui-grid), .ui-grid.xs-6 > * {
    width: 50%;
  }
  .xs-7:not(.ui-grid), .ui-grid.xs-7 > * {
    width: 58.33333%;
  }
  .xs-8:not(.ui-grid), .ui-grid.xs-8 > * {
    width: 66.66667%;
  }
  .xs-9:not(.ui-grid), .ui-grid.xs-9 > * {
    width: 75%;
  }
  .xs-10:not(.ui-grid), .ui-grid.xs-10 > * {
    width: 83.33333%;
  }
  .xs-11:not(.ui-grid), .ui-grid.xs-11 > * {
    width: 91.66667%;
  }
  .xs-12:not(.ui-grid), .ui-grid.xs-12 > * {
    width: 100%;
  }
}

@media screen and (min-width: 621px) {
  .s-1:not(.ui-grid), .ui-grid.s-1 > * {
    width: 8.33333%;
  }
  .s-2:not(.ui-grid), .ui-grid.s-2 > * {
    width: 16.66667%;
  }
  .s-3:not(.ui-grid), .ui-grid.s-3 > * {
    width: 25%;
  }
  .s-4:not(.ui-grid), .ui-grid.s-4 > * {
    width: 33.33333%;
  }
  .s-5:not(.ui-grid), .ui-grid.s-5 > * {
    width: 41.66667%;
  }
  .s-6:not(.ui-grid), .ui-grid.s-6 > * {
    width: 50%;
  }
  .s-7:not(.ui-grid), .ui-grid.s-7 > * {
    width: 58.33333%;
  }
  .s-8:not(.ui-grid), .ui-grid.s-8 > * {
    width: 66.66667%;
  }
  .s-9:not(.ui-grid), .ui-grid.s-9 > * {
    width: 75%;
  }
  .s-10:not(.ui-grid), .ui-grid.s-10 > * {
    width: 83.33333%;
  }
  .s-11:not(.ui-grid), .ui-grid.s-11 > * {
    width: 91.66667%;
  }
  .s-12:not(.ui-grid), .ui-grid.s-12 > * {
    width: 100%;
  }
}

@media screen and (min-width: 769px) {
  .m-1:not(.ui-grid), .ui-grid.m-1 > * {
    width: 8.33333%;
  }
  .m-2:not(.ui-grid), .ui-grid.m-2 > * {
    width: 16.66667%;
  }
  .m-3:not(.ui-grid), .ui-grid.m-3 > * {
    width: 25%;
  }
  .m-4:not(.ui-grid), .ui-grid.m-4 > * {
    width: 33.33333%;
  }
  .m-5:not(.ui-grid), .ui-grid.m-5 > * {
    width: 41.66667%;
  }
  .m-6:not(.ui-grid), .ui-grid.m-6 > * {
    width: 50%;
  }
  .m-7:not(.ui-grid), .ui-grid.m-7 > * {
    width: 58.33333%;
  }
  .m-8:not(.ui-grid), .ui-grid.m-8 > * {
    width: 66.66667%;
  }
  .m-9:not(.ui-grid), .ui-grid.m-9 > * {
    width: 75%;
  }
  .m-10:not(.ui-grid), .ui-grid.m-10 > * {
    width: 83.33333%;
  }
  .m-11:not(.ui-grid), .ui-grid.m-11 > * {
    width: 91.66667%;
  }
  .m-12:not(.ui-grid), .ui-grid.m-12 > * {
    width: 100%;
  }
}

@media screen and (min-width: 821px) {
  .xm-1:not(.ui-grid), .ui-grid.xm-1 > * {
    width: 8.33333%;
  }
  .xm-2:not(.ui-grid), .ui-grid.xm-2 > * {
    width: 16.66667%;
  }
  .xm-3:not(.ui-grid), .ui-grid.xm-3 > * {
    width: 25%;
  }
  .xm-4:not(.ui-grid), .ui-grid.xm-4 > * {
    width: 33.33333%;
  }
  .xm-5:not(.ui-grid), .ui-grid.xm-5 > * {
    width: 41.66667%;
  }
  .xm-6:not(.ui-grid), .ui-grid.xm-6 > * {
    width: 50%;
  }
  .xm-7:not(.ui-grid), .ui-grid.xm-7 > * {
    width: 58.33333%;
  }
  .xm-8:not(.ui-grid), .ui-grid.xm-8 > * {
    width: 66.66667%;
  }
  .xm-9:not(.ui-grid), .ui-grid.xm-9 > * {
    width: 75%;
  }
  .xm-10:not(.ui-grid), .ui-grid.xm-10 > * {
    width: 83.33333%;
  }
  .xm-11:not(.ui-grid), .ui-grid.xm-11 > * {
    width: 91.66667%;
  }
  .xm-12:not(.ui-grid), .ui-grid.xm-12 > * {
    width: 100%;
  }
}

@media screen and (min-width: 1201px) {
  .l-1:not(.ui-grid), .ui-grid.l-1 > * {
    width: 8.33333%;
  }
  .l-2:not(.ui-grid), .ui-grid.l-2 > * {
    width: 16.66667%;
  }
  .l-3:not(.ui-grid), .ui-grid.l-3 > * {
    width: 25%;
  }
  .l-4:not(.ui-grid), .ui-grid.l-4 > * {
    width: 33.33333%;
  }
  .l-5:not(.ui-grid), .ui-grid.l-5 > * {
    width: 41.66667%;
  }
  .l-6:not(.ui-grid), .ui-grid.l-6 > * {
    width: 50%;
  }
  .l-7:not(.ui-grid), .ui-grid.l-7 > * {
    width: 58.33333%;
  }
  .l-8:not(.ui-grid), .ui-grid.l-8 > * {
    width: 66.66667%;
  }
  .l-9:not(.ui-grid), .ui-grid.l-9 > * {
    width: 75%;
  }
  .l-10:not(.ui-grid), .ui-grid.l-10 > * {
    width: 83.33333%;
  }
  .l-11:not(.ui-grid), .ui-grid.l-11 > * {
    width: 91.66667%;
  }
  .l-12:not(.ui-grid), .ui-grid.l-12 > * {
    width: 100%;
  }
}

@media screen and (min-width: 1401px) {
  .xl-1:not(.ui-grid), .ui-grid.xl-1 > * {
    width: 8.33333%;
  }
  .xl-2:not(.ui-grid), .ui-grid.xl-2 > * {
    width: 16.66667%;
  }
  .xl-3:not(.ui-grid), .ui-grid.xl-3 > * {
    width: 25%;
  }
  .xl-4:not(.ui-grid), .ui-grid.xl-4 > * {
    width: 33.33333%;
  }
  .xl-5:not(.ui-grid), .ui-grid.xl-5 > * {
    width: 41.66667%;
  }
  .xl-6:not(.ui-grid), .ui-grid.xl-6 > * {
    width: 50%;
  }
  .xl-7:not(.ui-grid), .ui-grid.xl-7 > * {
    width: 58.33333%;
  }
  .xl-8:not(.ui-grid), .ui-grid.xl-8 > * {
    width: 66.66667%;
  }
  .xl-9:not(.ui-grid), .ui-grid.xl-9 > * {
    width: 75%;
  }
  .xl-10:not(.ui-grid), .ui-grid.xl-10 > * {
    width: 83.33333%;
  }
  .xl-11:not(.ui-grid), .ui-grid.xl-11 > * {
    width: 91.66667%;
  }
  .xl-12:not(.ui-grid), .ui-grid.xl-12 > * {
    width: 100%;
  }
}

.ui-width--auto {
  width: auto;
}

.ui-width--100 {
  width: 100%;
}

.ui-col--primary {
  color: #ce728f;
}

* {
  box-sizing: border-box;
}

body {
  background: #fefefe;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.3;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.83333rem;
}

h3 {
  font-size: 1.66667rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.33333rem;
}

h6 {
  font-size: 1.16667rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.container {
  position: relative;
}

.wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.banner > * {
  margin: 20vh 0;
}

.banner h1, .banner h2, .banner h3, .banner H4, .banner h5, .banner h6 {
  letter-spacing: -.07em;
  line-height: 1.1;
}

.banner h1 {
  font-size: 4rem;
  margin-top: 25vh;
}

.banner h2 {
  font-size: 3rem;
}
