/**
* Allow to extend several classes in a single bunch
**/
/**
* Build a media query, mobile firstly.
* Requires at least one breakpoint value to work.
* You can use registered breakpoints (s) or absolute values (1300px).
* Highest breakpoint value will be considered as a max-width, while the other one will be min-width.
* ex. : @include resp(s) => @media screen and (max-width:620px)
* ex. : @include resp(m s) => @media screen and (max-width:768px) and (min-width:620px)
*/
.ui-grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.xxs-0,
.cnt-xxs-0 > * {
  width: 0%;
  overflow: hidden;
}

.xxs-1,
.cnt-xxs-1 > * {
  width: 8.33333%;
}

.xxs-2,
.cnt-xxs-2 > * {
  width: 16.66667%;
}

.xxs-3,
.cnt-xxs-3 > * {
  width: 25%;
}

.xxs-4,
.cnt-xxs-4 > * {
  width: 33.33333%;
}

.xxs-5,
.cnt-xxs-5 > * {
  width: 41.66667%;
}

.xxs-6,
.cnt-xxs-6 > * {
  width: 50%;
}

.xxs-7,
.cnt-xxs-7 > * {
  width: 58.33333%;
}

.xxs-8,
.cnt-xxs-8 > * {
  width: 66.66667%;
}

.xxs-9,
.cnt-xxs-9 > * {
  width: 75%;
}

.xxs-10,
.cnt-xxs-10 > * {
  width: 83.33333%;
}

.xxs-11,
.cnt-xxs-11 > * {
  width: 91.66667%;
}

.xxs-12,
.cnt-xxs-12 > * {
  width: 100%;
}

.xxs-auto,
.cnt-xxs-auto > * {
  width: auto;
}

@media screen and (min-width: 481px) {
  .xs-0,
  .cnt-xs-0 > * {
    width: 0%;
    overflow: hidden;
  }
  .xs-1,
  .cnt-xs-1 > * {
    width: 8.33333%;
  }
  .xs-2,
  .cnt-xs-2 > * {
    width: 16.66667%;
  }
  .xs-3,
  .cnt-xs-3 > * {
    width: 25%;
  }
  .xs-4,
  .cnt-xs-4 > * {
    width: 33.33333%;
  }
  .xs-5,
  .cnt-xs-5 > * {
    width: 41.66667%;
  }
  .xs-6,
  .cnt-xs-6 > * {
    width: 50%;
  }
  .xs-7,
  .cnt-xs-7 > * {
    width: 58.33333%;
  }
  .xs-8,
  .cnt-xs-8 > * {
    width: 66.66667%;
  }
  .xs-9,
  .cnt-xs-9 > * {
    width: 75%;
  }
  .xs-10,
  .cnt-xs-10 > * {
    width: 83.33333%;
  }
  .xs-11,
  .cnt-xs-11 > * {
    width: 91.66667%;
  }
  .xs-12,
  .cnt-xs-12 > * {
    width: 100%;
  }
  .xs-auto,
  .cnt-xs-auto > * {
    width: auto;
  }
}

@media screen and (min-width: 621px) {
  .s-0,
  .cnt-s-0 > * {
    width: 0%;
    overflow: hidden;
  }
  .s-1,
  .cnt-s-1 > * {
    width: 8.33333%;
  }
  .s-2,
  .cnt-s-2 > * {
    width: 16.66667%;
  }
  .s-3,
  .cnt-s-3 > * {
    width: 25%;
  }
  .s-4,
  .cnt-s-4 > * {
    width: 33.33333%;
  }
  .s-5,
  .cnt-s-5 > * {
    width: 41.66667%;
  }
  .s-6,
  .cnt-s-6 > * {
    width: 50%;
  }
  .s-7,
  .cnt-s-7 > * {
    width: 58.33333%;
  }
  .s-8,
  .cnt-s-8 > * {
    width: 66.66667%;
  }
  .s-9,
  .cnt-s-9 > * {
    width: 75%;
  }
  .s-10,
  .cnt-s-10 > * {
    width: 83.33333%;
  }
  .s-11,
  .cnt-s-11 > * {
    width: 91.66667%;
  }
  .s-12,
  .cnt-s-12 > * {
    width: 100%;
  }
  .s-auto,
  .cnt-s-auto > * {
    width: auto;
  }
}

@media screen and (min-width: 769px) {
  .m-0,
  .cnt-m-0 > * {
    width: 0%;
    overflow: hidden;
  }
  .m-1,
  .cnt-m-1 > * {
    width: 8.33333%;
  }
  .m-2,
  .cnt-m-2 > * {
    width: 16.66667%;
  }
  .m-3,
  .cnt-m-3 > * {
    width: 25%;
  }
  .m-4,
  .cnt-m-4 > * {
    width: 33.33333%;
  }
  .m-5,
  .cnt-m-5 > * {
    width: 41.66667%;
  }
  .m-6,
  .cnt-m-6 > * {
    width: 50%;
  }
  .m-7,
  .cnt-m-7 > * {
    width: 58.33333%;
  }
  .m-8,
  .cnt-m-8 > * {
    width: 66.66667%;
  }
  .m-9,
  .cnt-m-9 > * {
    width: 75%;
  }
  .m-10,
  .cnt-m-10 > * {
    width: 83.33333%;
  }
  .m-11,
  .cnt-m-11 > * {
    width: 91.66667%;
  }
  .m-12,
  .cnt-m-12 > * {
    width: 100%;
  }
  .m-auto,
  .cnt-m-auto > * {
    width: auto;
  }
}

@media screen and (min-width: 821px) {
  .xm-0,
  .cnt-xm-0 > * {
    width: 0%;
    overflow: hidden;
  }
  .xm-1,
  .cnt-xm-1 > * {
    width: 8.33333%;
  }
  .xm-2,
  .cnt-xm-2 > * {
    width: 16.66667%;
  }
  .xm-3,
  .cnt-xm-3 > * {
    width: 25%;
  }
  .xm-4,
  .cnt-xm-4 > * {
    width: 33.33333%;
  }
  .xm-5,
  .cnt-xm-5 > * {
    width: 41.66667%;
  }
  .xm-6,
  .cnt-xm-6 > * {
    width: 50%;
  }
  .xm-7,
  .cnt-xm-7 > * {
    width: 58.33333%;
  }
  .xm-8,
  .cnt-xm-8 > * {
    width: 66.66667%;
  }
  .xm-9,
  .cnt-xm-9 > * {
    width: 75%;
  }
  .xm-10,
  .cnt-xm-10 > * {
    width: 83.33333%;
  }
  .xm-11,
  .cnt-xm-11 > * {
    width: 91.66667%;
  }
  .xm-12,
  .cnt-xm-12 > * {
    width: 100%;
  }
  .xm-auto,
  .cnt-xm-auto > * {
    width: auto;
  }
}

@media screen and (min-width: 1201px) {
  .l-0,
  .cnt-l-0 > * {
    width: 0%;
    overflow: hidden;
  }
  .l-1,
  .cnt-l-1 > * {
    width: 8.33333%;
  }
  .l-2,
  .cnt-l-2 > * {
    width: 16.66667%;
  }
  .l-3,
  .cnt-l-3 > * {
    width: 25%;
  }
  .l-4,
  .cnt-l-4 > * {
    width: 33.33333%;
  }
  .l-5,
  .cnt-l-5 > * {
    width: 41.66667%;
  }
  .l-6,
  .cnt-l-6 > * {
    width: 50%;
  }
  .l-7,
  .cnt-l-7 > * {
    width: 58.33333%;
  }
  .l-8,
  .cnt-l-8 > * {
    width: 66.66667%;
  }
  .l-9,
  .cnt-l-9 > * {
    width: 75%;
  }
  .l-10,
  .cnt-l-10 > * {
    width: 83.33333%;
  }
  .l-11,
  .cnt-l-11 > * {
    width: 91.66667%;
  }
  .l-12,
  .cnt-l-12 > * {
    width: 100%;
  }
  .l-auto,
  .cnt-l-auto > * {
    width: auto;
  }
}

@media screen and (min-width: 1401px) {
  .xl-0,
  .cnt-xl-0 > * {
    width: 0%;
    overflow: hidden;
  }
  .xl-1,
  .cnt-xl-1 > * {
    width: 8.33333%;
  }
  .xl-2,
  .cnt-xl-2 > * {
    width: 16.66667%;
  }
  .xl-3,
  .cnt-xl-3 > * {
    width: 25%;
  }
  .xl-4,
  .cnt-xl-4 > * {
    width: 33.33333%;
  }
  .xl-5,
  .cnt-xl-5 > * {
    width: 41.66667%;
  }
  .xl-6,
  .cnt-xl-6 > * {
    width: 50%;
  }
  .xl-7,
  .cnt-xl-7 > * {
    width: 58.33333%;
  }
  .xl-8,
  .cnt-xl-8 > * {
    width: 66.66667%;
  }
  .xl-9,
  .cnt-xl-9 > * {
    width: 75%;
  }
  .xl-10,
  .cnt-xl-10 > * {
    width: 83.33333%;
  }
  .xl-11,
  .cnt-xl-11 > * {
    width: 91.66667%;
  }
  .xl-12,
  .cnt-xl-12 > * {
    width: 100%;
  }
  .xl-auto,
  .cnt-xl-auto > * {
    width: auto;
  }
}

.ui-width--auto {
  width: auto;
}

.ui-width--100 {
  width: 100%;
}

.ui-pdg-cnt--v > * ~ * {
  padding-top: 1.5rem;
}

.ui-pdg-cnt--v:xxs > * ~ * {
  padding-top: 1.5rem;
}

@media screen and (min-width: 481px) {
  .ui-pdg-cnt--v:xs > * ~ * {
    padding-top: 1.5rem;
  }
}

@media screen and (min-width: 621px) {
  .ui-pdg-cnt--v:s > * ~ * {
    padding-top: 1.5rem;
  }
}

@media screen and (min-width: 769px) {
  .ui-pdg-cnt--v:m > * ~ * {
    padding-top: 1.5rem;
  }
}

@media screen and (min-width: 821px) {
  .ui-pdg-cnt--v:xm > * ~ * {
    padding-top: 1.5rem;
  }
}

@media screen and (min-width: 1201px) {
  .ui-pdg-cnt--v:l > * ~ * {
    padding-top: 1.5rem;
  }
}

@media screen and (min-width: 1401px) {
  .ui-pdg-cnt--v:xl > * ~ * {
    padding-top: 1.5rem;
  }
}

.ui-pdg-cnt--h > * ~ * {
  padding-left: 1.5rem;
}

.ui-pdg-cnt--h:xxs > * ~ * {
  padding-left: 1.5rem;
}

@media screen and (min-width: 481px) {
  .ui-pdg-cnt--h:xs > * ~ * {
    padding-left: 1.5rem;
  }
}

@media screen and (min-width: 621px) {
  .ui-pdg-cnt--h:s > * ~ * {
    padding-left: 1.5rem;
  }
}

@media screen and (min-width: 769px) {
  .ui-pdg-cnt--h:m > * ~ * {
    padding-left: 1.5rem;
  }
}

@media screen and (min-width: 821px) {
  .ui-pdg-cnt--h:xm > * ~ * {
    padding-left: 1.5rem;
  }
}

@media screen and (min-width: 1201px) {
  .ui-pdg-cnt--h:l > * ~ * {
    padding-left: 1.5rem;
  }
}

@media screen and (min-width: 1401px) {
  .ui-pdg-cnt--h:xl > * ~ * {
    padding-left: 1.5rem;
  }
}

.ui-mrg {
  margin: 1.5rem;
}

.ui-mrg-cnt--v > * ~ *, .main-blocks ul a.container > * ~ *, .reinsure-items > li > * ~ * {
  margin-top: 1.5rem;
}

.ui-mrg-cnt--v:xxs > * ~ *, .main-blocks ul a.container:xxs > * ~ *, .reinsure-items > li:xxs > * ~ * {
  margin-top: 1.5rem;
}

@media screen and (min-width: 481px) {
  .ui-mrg-cnt--v:xs > * ~ *, .main-blocks ul a.container:xs > * ~ *, .reinsure-items > li:xs > * ~ * {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 621px) {
  .ui-mrg-cnt--v:s > * ~ *, .main-blocks ul a.container:s > * ~ *, .reinsure-items > li:s > * ~ * {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 769px) {
  .ui-mrg-cnt--v:m > * ~ *, .main-blocks ul a.container:m > * ~ *, .reinsure-items > li:m > * ~ * {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 821px) {
  .ui-mrg-cnt--v:xm > * ~ *, .main-blocks ul a.container:xm > * ~ *, .reinsure-items > li:xm > * ~ * {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 1201px) {
  .ui-mrg-cnt--v:l > * ~ *, .main-blocks ul a.container:l > * ~ *, .reinsure-items > li:l > * ~ * {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 1401px) {
  .ui-mrg-cnt--v:xl > * ~ *, .main-blocks ul a.container:xl > * ~ *, .reinsure-items > li:xl > * ~ * {
    margin-top: 1.5rem;
  }
}

.ui-mrg-cnt--h > * ~ *, .reinsure-items > * ~ *, *[class^='card'][class*='--place'] > .container > * ~ * {
  margin-left: 1.5rem;
}

.ui-mrg-cnt--h:xxs > * ~ *, .reinsure-items:xxs > * ~ *, *[class^='card'][class*='--place'] > .container:xxs > * ~ * {
  margin-left: 1.5rem;
}

@media screen and (min-width: 481px) {
  .ui-mrg-cnt--h:xs > * ~ *, .reinsure-items:xs > * ~ *, *[class^='card'][class*='--place'] > .container:xs > * ~ * {
    margin-left: 1.5rem;
  }
}

@media screen and (min-width: 621px) {
  .ui-mrg-cnt--h:s > * ~ *, .reinsure-items:s > * ~ *, *[class^='card'][class*='--place'] > .container:s > * ~ * {
    margin-left: 1.5rem;
  }
}

@media screen and (min-width: 769px) {
  .ui-mrg-cnt--h:m > * ~ *, .reinsure-items:m > * ~ *, *[class^='card'][class*='--place'] > .container:m > * ~ * {
    margin-left: 1.5rem;
  }
}

@media screen and (min-width: 821px) {
  .ui-mrg-cnt--h:xm > * ~ *, .reinsure-items:xm > * ~ *, *[class^='card'][class*='--place'] > .container:xm > * ~ * {
    margin-left: 1.5rem;
  }
}

@media screen and (min-width: 1201px) {
  .ui-mrg-cnt--h:l > * ~ *, .reinsure-items:l > * ~ *, *[class^='card'][class*='--place'] > .container:l > * ~ * {
    margin-left: 1.5rem;
  }
}

@media screen and (min-width: 1401px) {
  .ui-mrg-cnt--h:xl > * ~ *, .reinsure-items:xl > * ~ *, *[class^='card'][class*='--place'] > .container:xl > * ~ * {
    margin-left: 1.5rem;
  }
}

.ui-mrg:xxs {
  margin: 1.5rem;
}

@media screen and (min-width: 481px) {
  .ui-mrg:xs {
    margin: 1.5rem;
  }
}

@media screen and (min-width: 621px) {
  .ui-mrg:s {
    margin: 1.5rem;
  }
}

@media screen and (min-width: 769px) {
  .ui-mrg:m {
    margin: 1.5rem;
  }
}

@media screen and (min-width: 821px) {
  .ui-mrg:xm {
    margin: 1.5rem;
  }
}

@media screen and (min-width: 1201px) {
  .ui-mrg:l {
    margin: 1.5rem;
  }
}

@media screen and (min-width: 1401px) {
  .ui-mrg:xl {
    margin: 1.5rem;
  }
}

.ui-mrg--_25 {
  margin: 0.25rem;
}

.ui-mrg--_5 {
  margin: 0.5rem;
}

.ui-mrg--_75 {
  margin: 0.75rem;
}

.ui-mrg--1_5 {
  margin: 1.5rem;
}

.ui-mrg--2 {
  margin: 2rem;
}

.ui-mrg--3 {
  margin: 3rem;
}

.ui-mrg--4 {
  margin: 4rem;
}

.ui-flex-align--top {
  align-items: flex-start;
}

.ui-flex-align--top:xxs {
  align-items: flex-start;
}

@media screen and (min-width: 481px) {
  .ui-flex-align--top:xs {
    align-items: flex-start;
  }
}

@media screen and (min-width: 621px) {
  .ui-flex-align--top:s {
    align-items: flex-start;
  }
}

@media screen and (min-width: 769px) {
  .ui-flex-align--top:m {
    align-items: flex-start;
  }
}

@media screen and (min-width: 821px) {
  .ui-flex-align--top:xm {
    align-items: flex-start;
  }
}

@media screen and (min-width: 1201px) {
  .ui-flex-align--top:l {
    align-items: flex-start;
  }
}

@media screen and (min-width: 1401px) {
  .ui-flex-align--top:xl {
    align-items: flex-start;
  }
}

.ui-flex-align--center {
  align-items: center;
}

.ui-flex-align--center:xxs {
  align-items: center;
}

@media screen and (min-width: 481px) {
  .ui-flex-align--center:xs {
    align-items: center;
  }
}

@media screen and (min-width: 621px) {
  .ui-flex-align--center:s {
    align-items: center;
  }
}

@media screen and (min-width: 769px) {
  .ui-flex-align--center:m {
    align-items: center;
  }
}

@media screen and (min-width: 821px) {
  .ui-flex-align--center:xm {
    align-items: center;
  }
}

@media screen and (min-width: 1201px) {
  .ui-flex-align--center:l {
    align-items: center;
  }
}

@media screen and (min-width: 1401px) {
  .ui-flex-align--center:xl {
    align-items: center;
  }
}

.ui-flex-align--bottom {
  align-items: flex-end;
}

.ui-flex-align--bottom:xxs {
  align-items: flex-end;
}

@media screen and (min-width: 481px) {
  .ui-flex-align--bottom:xs {
    align-items: flex-end;
  }
}

@media screen and (min-width: 621px) {
  .ui-flex-align--bottom:s {
    align-items: flex-end;
  }
}

@media screen and (min-width: 769px) {
  .ui-flex-align--bottom:m {
    align-items: flex-end;
  }
}

@media screen and (min-width: 821px) {
  .ui-flex-align--bottom:xm {
    align-items: flex-end;
  }
}

@media screen and (min-width: 1201px) {
  .ui-flex-align--bottom:l {
    align-items: flex-end;
  }
}

@media screen and (min-width: 1401px) {
  .ui-flex-align--bottom:xl {
    align-items: flex-end;
  }
}

.ui-flex-align--stretch {
  align-items: stretch;
}

.ui-flex-align--stretch:xxs {
  align-items: stretch;
}

@media screen and (min-width: 481px) {
  .ui-flex-align--stretch:xs {
    align-items: stretch;
  }
}

@media screen and (min-width: 621px) {
  .ui-flex-align--stretch:s {
    align-items: stretch;
  }
}

@media screen and (min-width: 769px) {
  .ui-flex-align--stretch:m {
    align-items: stretch;
  }
}

@media screen and (min-width: 821px) {
  .ui-flex-align--stretch:xm {
    align-items: stretch;
  }
}

@media screen and (min-width: 1201px) {
  .ui-flex-align--stretch:l {
    align-items: stretch;
  }
}

@media screen and (min-width: 1401px) {
  .ui-flex-align--stretch:xl {
    align-items: stretch;
  }
}

.ui-flex-align-self--top {
  align-self: flex-start;
}

.ui-flex-align-self--top:xxs {
  align-self: flex-start;
}

@media screen and (min-width: 481px) {
  .ui-flex-align-self--top:xs {
    align-self: flex-start;
  }
}

@media screen and (min-width: 621px) {
  .ui-flex-align-self--top:s {
    align-self: flex-start;
  }
}

@media screen and (min-width: 769px) {
  .ui-flex-align-self--top:m {
    align-self: flex-start;
  }
}

@media screen and (min-width: 821px) {
  .ui-flex-align-self--top:xm {
    align-self: flex-start;
  }
}

@media screen and (min-width: 1201px) {
  .ui-flex-align-self--top:l {
    align-self: flex-start;
  }
}

@media screen and (min-width: 1401px) {
  .ui-flex-align-self--top:xl {
    align-self: flex-start;
  }
}

.ui-flex-align-self--center {
  align-self: center;
}

.ui-flex-align-self--center:xxs {
  align-self: center;
}

@media screen and (min-width: 481px) {
  .ui-flex-align-self--center:xs {
    align-self: center;
  }
}

@media screen and (min-width: 621px) {
  .ui-flex-align-self--center:s {
    align-self: center;
  }
}

@media screen and (min-width: 769px) {
  .ui-flex-align-self--center:m {
    align-self: center;
  }
}

@media screen and (min-width: 821px) {
  .ui-flex-align-self--center:xm {
    align-self: center;
  }
}

@media screen and (min-width: 1201px) {
  .ui-flex-align-self--center:l {
    align-self: center;
  }
}

@media screen and (min-width: 1401px) {
  .ui-flex-align-self--center:xl {
    align-self: center;
  }
}

.ui-flex-align-self--bottom {
  align-self: flex-end;
}

.ui-flex-align-self--bottom:xxs {
  align-self: flex-end;
}

@media screen and (min-width: 481px) {
  .ui-flex-align-self--bottom:xs {
    align-self: flex-end;
  }
}

@media screen and (min-width: 621px) {
  .ui-flex-align-self--bottom:s {
    align-self: flex-end;
  }
}

@media screen and (min-width: 769px) {
  .ui-flex-align-self--bottom:m {
    align-self: flex-end;
  }
}

@media screen and (min-width: 821px) {
  .ui-flex-align-self--bottom:xm {
    align-self: flex-end;
  }
}

@media screen and (min-width: 1201px) {
  .ui-flex-align-self--bottom:l {
    align-self: flex-end;
  }
}

@media screen and (min-width: 1401px) {
  .ui-flex-align-self--bottom:xl {
    align-self: flex-end;
  }
}

.ui-flex-align-self--stretch {
  align-self: stretch;
}

.ui-flex-align-self--stretch:xxs {
  align-self: stretch;
}

@media screen and (min-width: 481px) {
  .ui-flex-align-self--stretch:xs {
    align-self: stretch;
  }
}

@media screen and (min-width: 621px) {
  .ui-flex-align-self--stretch:s {
    align-self: stretch;
  }
}

@media screen and (min-width: 769px) {
  .ui-flex-align-self--stretch:m {
    align-self: stretch;
  }
}

@media screen and (min-width: 821px) {
  .ui-flex-align-self--stretch:xm {
    align-self: stretch;
  }
}

@media screen and (min-width: 1201px) {
  .ui-flex-align-self--stretch:l {
    align-self: stretch;
  }
}

@media screen and (min-width: 1401px) {
  .ui-flex-align-self--stretch:xl {
    align-self: stretch;
  }
}

.ui-flex-space-between {
  justify-content: space-between;
}

.ui-flex-space-between:xxs {
  justify-content: space-between;
}

@media screen and (min-width: 481px) {
  .ui-flex-space-between:xs {
    justify-content: space-between;
  }
}

@media screen and (min-width: 621px) {
  .ui-flex-space-between:s {
    justify-content: space-between;
  }
}

@media screen and (min-width: 769px) {
  .ui-flex-space-between:m {
    justify-content: space-between;
  }
}

@media screen and (min-width: 821px) {
  .ui-flex-space-between:xm {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1201px) {
  .ui-flex-space-between:l {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1401px) {
  .ui-flex-space-between:xl {
    justify-content: space-between;
  }
}

.ui-flex-space-around {
  justify-content: space-around;
}

.ui-flex-space-around:xxs {
  justify-content: space-around;
}

@media screen and (min-width: 481px) {
  .ui-flex-space-around:xs {
    justify-content: space-around;
  }
}

@media screen and (min-width: 621px) {
  .ui-flex-space-around:s {
    justify-content: space-around;
  }
}

@media screen and (min-width: 769px) {
  .ui-flex-space-around:m {
    justify-content: space-around;
  }
}

@media screen and (min-width: 821px) {
  .ui-flex-space-around:xm {
    justify-content: space-around;
  }
}

@media screen and (min-width: 1201px) {
  .ui-flex-space-around:l {
    justify-content: space-around;
  }
}

@media screen and (min-width: 1401px) {
  .ui-flex-space-around:xl {
    justify-content: space-around;
  }
}

.ui-color--primary {
  color: #fe6b5f;
}

.ui-color--text {
  color: #191c32;
}

* {
  box-sizing: border-box;
}

body {
  background: #fefefe;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #191c32;
  line-height: 1.15;
}

body > * {
  flex: none;
}

body > main {
  flex: 1 1 auto;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.83333rem;
}

h3 {
  font-size: 1.66667rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.33333rem;
}

h6 {
  font-size: 1.16667rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: bold;
}

a {
  text-decoration: none;
}

a,
a:visited {
  color: #191c32;
}

a:hover {
  text-decoration: underline;
}

button {
  border: none;
  outline: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  border-radius: 0.25rem;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

.container {
  position: relative;
}

.wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

header + main > * ~ * {
  margin-top: 6.875rem;
}

header {
  position: sticky;
  top: 0;
  background: white;
  z-index: 40;
}

header > .wrapper {
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
}

header nav.header-nav {
  position: relative;
}

header nav.header-nav > ul {
  display: flex;
}

header nav.header-nav > ul > li ~ li {
  margin-left: 1rem;
}

main.main {
  position: relative;
  padding-top: 4rem;
}

h1 {
  font-family: "Playfair Display", serif;
}

.comparator {
  align-items: center;
}

.comparator h1 {
  font-size: 3.625rem;
}

.comparator-fields {
  /*
  flex-wrap: nowrap;
  @extend .ui-mrg-cnt--h;
  */
}

.comparator-fields > * {
  padding: 1rem;
  border-radius: 0.25rem;
}

.comparator-fields > *:not(button) {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  font-size: 1.5rem;
}

.comparator-fields > label {
  font-family: "Playfair Display", serif;
  display: flex;
  align-items: center;
}

.comparator-fields > label > input[type='radio'] {
  margin-right: 0.5rem;
}

.comparator-fields > button {
  align-self: center;
  background: #fe6b5f;
  color: white;
}

@media screen and (min-width: 769px) {
  .comparator-fields > button {
    transform-origin: center;
    transform: rotate(-45deg);
    width: 60px;
    height: 60px;
  }
}

@media screen and (min-width: 769px) {
  .comparator h1 {
    order: 2;
  }
  .comparator p {
    order: 3;
  }
  .comparator-fields {
    order: 1;
  }
}

.main-cities {
  width: calc(100% + 2rem);
  transform: translateX(-1rem);
}

.main-blocks ul {
  width: calc(100% + 2rem);
  transform: translateX(-1rem);
}

.main-blocks ul a.container {
  display: block;
  margin: 1rem;
}

.main-blocks ul h4 {
  font-size: 1.125rem;
}

.reinsure-title {
  padding-right: 3rem;
}

.reinsure-items {
  flex-wrap: nowrap;
}

.reinsure-items > li {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.reinsure-items > li h5 {
  font-family: "Playfair Display", serif;
}

.reinsure-items > li img {
  max-width: 100%;
  width: auto;
}

*[class^='card'] img {
  border-radius: 0.25rem;
}

*[class^='card'] h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
}

*[class^='card'] a {
  text-decoration: underline;
}

*[class^='card'] a:hover {
  color: #fe6b5f;
}

*[class^='card'] ul,
*[class^='card'] ol {
  margin: 0;
}

*[class^='card'][class*='--place'] > .container {
  margin: 1rem;
  flex-wrap: no-wrap;
  align-items: center;
}

*[class^='card'][class*='--place'] ul {
  display: flex;
  margin-top: 0.5rem;
}

*[class^='card'][class*='--place'] ul > li ~ li {
  margin-left: 0.5em;
}

a:hook {
  color: red;
}

body:hook {
  background: black;
}

:xxs a:hook {
  color: red;
}

:xxs body:hook {
  background: black;
}

@media screen and (min-width: 481px) {
  :xs a:hook {
    color: red;
  }
  :xs body:hook {
    background: black;
  }
}

@media screen and (min-width: 621px) {
  :s a:hook {
    color: red;
  }
  :s body:hook {
    background: black;
  }
}

@media screen and (min-width: 769px) {
  :m a:hook {
    color: red;
  }
  :m body:hook {
    background: black;
  }
}

@media screen and (min-width: 821px) {
  :xm a:hook {
    color: red;
  }
  :xm body:hook {
    background: black;
  }
}

@media screen and (min-width: 1201px) {
  :l a:hook {
    color: red;
  }
  :l body:hook {
    background: black;
  }
}

@media screen and (min-width: 1401px) {
  :xl a:hook {
    color: red;
  }
  :xl body:hook {
    background: black;
  }
}
