.#{$root-selector}-grid{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: $gap/2;
}

.#{$root-selector}-grid-item{
  padding: $gap/2;
  flex: 1 1 auto;
  &[class*="ui-width"]{
    flex:none;
  }
}

@for $i from 1 to $grid-columns-number+1 {
  &.from-#{$i}{
    >*{
      flex-basis: 100% / $i;
    }
  }
}

@each $key, $value in $breakpoints {
  @include resp($key){
    @for $i from 1 to $grid-columns-number+1 {
      &.#{$key}-#{$i}{
        >*{
          flex-basis: 100% / $i;
        }
      }
    }
  }
}