.#{$root}-grid{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: .5rem;
}

.#{$root}-grid-item{
  position:relative;
  padding: .5rem;
  flex: none;
  &[class*="ui-width"]{
    flex:none;
  }
}

@for $i from 1 to $grid-columns-number+1 {
  .from-#{$i}:not(.#{$root}-grid), .#{$root}-grid.from-#{$i} > *{
    width: $i * (100% / $grid-columns-number);
  }
}

@each $key, $value in $breakpoints {
  @include resp($key){
    @for $i from 1 to $grid-columns-number+1 {
      .#{$key}-#{$i}:not(.#{$root}-grid), .#{$root}-grid.#{$key}-#{$i} > *{
        width: $i * (100% / $grid-columns-number);
      }
    }
  }
}