@import "sundry-ui/_sundry-ui";

// Stuff for tests
.ui-width{
  &--100{
    width:100%;
  }
}

*{
  box-sizing: border-box;
}

body{
  background: #303030;
  font-size:12pt;
}

h1{
  font-size:1.6em;
  margin:0;
  padding: $gap/2 $gap;
  background:teal;
  color:white;
}

img{
 display: block;
 width:100%;
}

.container{
  position: relative;
  background: white;
  margin: 0 $gap;

  & ~ .container{
    margin-top:$gap;
  }
}

/* That is quite fancy :) */
.custom-grid{
  @include apply(ui-grid from-2 xs-3 s-4 m-5 l-6 xl-8);
  >*{
    @include apply(ui-grid-item);
  }
}