@for $i from 1 to $grid-columns-number+1 {
  &.from-#{$i}{
    >*{
      width: calc(#{100% / $i} - #{$gap});
    }
  }
}

@each $key, $value in $breakpoints {
  @include resp($key){
    @for $i from 1 to $grid-columns-number+1 {
      &.#{$key}-#{$i}{
        >*{
          width: calc(#{100% / $i} - #{$gap});
        }
      }
    }
  }
}

.ui-grid{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: $gap/2;
}

.ui-grid-item{
  flex: none;
  margin: $gap/2;
}