// Register responsive breakpoints.
$breakpoints : (
  xxs : 480px,
  s: 620px,
  m: 768px,
  xm : 820px,
  l : 1200px,
  xl : 1400px,
);

// Amount of spacing for paddings & margins.
$gap: 24px;

// The number of columns in a grid.
$grid-columns-number : 10;

$root-selector: ui;