

.#{$root}{
  &-flex{
    &-align{
      &--top{
        @include applyWithBreakpoints(){
          align-items: flex-start;
        }
      }

      &--center{
        @include applyWithBreakpoints(){
          align-items:center;
        }
      }

      &--bottom{
        @include applyWithBreakpoints(){
          align-items:flex-end;
        }
      }

      &--stretch{
        @include applyWithBreakpoints(){
          align-items:stretch;
        }
      }
    }

    &-align-self{

      &--top{
        @include applyWithBreakpoints(){
          align-self: flex-start;
        }
      }

      &--center{
        @include applyWithBreakpoints(){
          align-self:center;
        }
      }

      &--bottom{
        @include applyWithBreakpoints(){
          align-self:flex-end;
        }
      }

      &--stretch{
        @include applyWithBreakpoints(){
          align-self:stretch;
        }
      }
    }

    &-space{
      &-between{
        @include applyWithBreakpoints{
          justify-content: space-between;
        }
      }
      &-around{
        @include applyWithBreakpoints{
          justify-content: space-around;
        }
      }
    }

  }

}
