.#{$root} {
  @each $key, $value in $breakpoints {
    &-#{$key} {
      &-flex {
        @include resp($value) {
          display: flex;
          &-align {
            &--top {
              align-items: flex-start;
            }

            &--center {
              align-items: center;
            }

            &--bottom {
              align-items: flex-end;
            }

            &--stretch {
              align-items: stretch;
            }
          }

          &-align-self {
            &--top {
              align-self: flex-start;
            }

            &--center {
              align-self: center;
            }

            &--bottom {
              align-self: flex-end;
            }

            &--stretch {
              align-self: stretch;
            }
          }

          &-space {
            &-between {
              justify-content: space-between;
            }
            &-around {
              justify-content: space-around;
            }
          }

          &-auto {
            flex: 1 1 auto;
          }

          &-none {
            flex: none;
          }
        }
      }
    }
  }
}
