.#{$root}-grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

@each $key, $value in $breakpoints {
  @include resp($key) {
    @for $i from 0 to $grid-columns-number + 1 {
      .#{$key}-#{$i},
      .cnt-#{$key}-#{$i} > * {
        width: $i * (100% / $grid-columns-number);
        @if $i == 0 {
          overflow: hidden;
        }
      }
    }
    .#{$key}-auto,
    .cnt-#{$key}-auto > * {
      width: auto;
    }
  }
}
