.#{$root}{
  &-pdg{
    &-cnt{
      &--v{
        @include applyWithBreakpoints{
          > * ~ * {
            padding-top:1.5rem;
          }
        }
      }
      &--h{
        @include applyWithBreakpoints{
          >* ~ * {
            padding-left:1.5rem;
          }
        }
      }
    }
  }

  &-mrg{
    &-cnt{
      &--v{
        @include applyWithBreakpoints{
          > * ~ * {
            margin-top:1.5rem;
          }
        }
      }
      &--h{
        @include applyWithBreakpoints{
          >* ~ * {
            margin-left: 1.5rem;
          }
        }
      }
    }

    @include applyWithBreakpoints{
      margin: 1.5rem;
    }

    @each $key, $margin in $margins{
      &--#{$key}{
        margin:$margin;
      }
    }
  }
}